body {
  margin: 0;
  font-family: 'roboto';
}

.container {
  display: flex;
  flex-direction: column;
}

/* logo, links menu, awesome text and img */
.logo-menu {
  display: flex;
  justify-content: space-around;
  background-color: #1F2937;
  flex-wrap: wrap;
  /* padding-left: 200px;
  padding-right: 200px; */
}

.logo {
  display: flex;
  align-items: center;
  font-size: 24px;
  color: #F9FAF8;
  font-weight: 700;
}

ul {
  display: flex;
  gap: 20px;
  list-style-type: none;
  font-size: 18px;
  padding: 0;
}

a {
  text-decoration: none;
  color: #E5E7EB;
}

.awesome {
  background-color: #1F2937;
  display: flex;
  /* justify-content: space-between; */
  /* align-items: center; */
  /* padding-left: 200px; */
  /* padding-right: 200px; */
  justify-content: space-around;

}

.header {
  flex-shrink: 1;
  max-width: fit-content;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  padding-bottom: 100px;
  padding-top: 100px;
  flex-grow: 1;
  flex-shrink: 1;
}

.awesomer {
  margin: 5px;
  width: 500px;
}

.kitten {
  display: flex;
  flex-grow: 1;
  /* width: fit-content; */
  align-items: center;
  justify-content: flex-end;
}

.kitten img {
  max-width: 500px;
}

.test {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  /* width: 800px; */
}

/* This is awesome text */
.test h1 {
  color: #F9FAF8;
  font-size: 48px;
  font-weight: 900;
  line-height: 50px;
}

/* This website has text */
.awesome .header .test p {
  color: #E5E7EB;
  font-size: 18px;
  line-height: 25px;
}

.header button{
  background-color: #3882F6;
  border: none;
  border-radius: 4px;
  padding: 4px 24px;
  color: white;
  font-weight: bold;
  display: flex;
  width: fit-content;
}

/* random info, img and under img text  */
.upper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
  gap: ;
}

.upper .info {
  font-weight: 900;
  font-size: 36px;
  color: #1F2937;
  padding: 24px;
}

.ilu {
  display: flex;
  text-align: center;
}

.ilu img {
  border: solid #1F2937;
  width: 150px;
  height: 150px;
  border-radius: 8px;
}

.infochild {
  display: flex;
  flex-direction: column;
  padding: 0px;
  align-items: center;
  gap: 8px;
  padding: 16px;
  font-size: 20px;
}

.subtext {
  max-width: 200px;
}

/* quote and name*/
.lower {
  display: flex;
  flex-direction: column;
  background-color: #E5E7EB;
  /* align-items: center; */
  justify-content: center;
  height: 400px;
}

/* inspiring quote */
.inspiring {
  padding: 0 400px;
  font-size: 36px;
  font-style: italic;
  font-weight: 200;
}

.name {
  display: flex;
  justify-content: flex-end;
  padding-right: 400px;
  font-size: 24px;
}

/* call to action */
.end {
  display: flex;
  height: 400px;
  justify-content: center;
  align-items: center;
}

.contain {
  display: flex;
  background-color: #3882F6;
  padding: 50px 100px;
  border-radius: 16px;
  justify-content: space-around;
  width: 700px;
}

.wrap {
  display: flex;
  flex-direction: column;
}

/* footer */
.footer {
  display: flex;
  background-color: #1F2937;
  justify-content: center;
  padding: 16px;
}

.footer div {
  color: white;
}

.sign {
  display: flex;
  padding: 10px;
  padding-left: ;
  max-width: fit-content;
  max-height: fit-content;
}

.sign .but {
  border-style: solid;
  font-weight: 700;
  color: white;
  padding: 4px 20px;
  border-radius: 4px;
  border-color: white;
  background-color: #3882F6;
  font-size: 16px;
  /* margin-top: ; */
}

.product {
  color: white;
}

.action {
  font-size: 24px;
  font-weight: bold;
  color: white;
}